/* Created by ZIS*/

body{
	top: 0;
	bottom: 0;
	background-color:#dee6ed !important;
}
header{
	background:url(../images/header.jpg);
	background-size:100% 100%;
}
/*NAVBAR START*/

.header-search{
	background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,.3)); 
	color: rgba(255, 255, 255, 0.2);
	padding: 20px 40px;
	height: 100px;
	color: #ffffff;
	box-sizing: border-box;
}

.header-search .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;

}

/* Logo */

.header-search .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
	
}

.header-search .header-limiter h1 span {
	color: #5383d3;
}

/* The header links */

.header-search .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-search .header-limiter h1 a:hover {
	color: #5383d3;
}
.header-search .header-limiter h1 a:hover span{
	color: #fff;
}

/* The search box */

.header-search .header-limiter form {
	float:right;
	position: relative;
	right: 30px;
	margin-left: 40px;
	border-radius: 3px;
	background-color: #3a3c3e;
	width: 44px;
	height: 39px;
	cursor: pointer;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* CSS search icon */

.header-search .header-limiter form:before {
	position: absolute;
	content: '';
	border-radius: 50%;
	border: 2px solid #fff;
	width: 9px;
	height: 9px;
	top: 12px;
	left: 14px;
}

.header-search .header-limiter form:after {
	position: absolute;
	content: '';
	background-color: #fff;
	width: 2px;
	height: 8px;
	top: 22px;
	left: 26px;
	-webkit-transform: rotate(-44deg);
	-moz-transform: rotate(-44deg);
	transform: rotate(-44deg);
}

/* The search box */

.header-search .header-limiter form input {
	position: absolute;
	background-color:#d7d9da;
	right: 42px;
	padding: 11px 12px 9px;
	border: none;
	width: 210px;
	border-radius: 2px 0 0 2px;
	height: 39px;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color:#000000;
}

.header-search .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	padding-right: 15%;
	
}

.header-search .header-limiter nav a {
	background: rgba(255,255,255,.3); 
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #000;
	font-size: 16px;
	font-weight: normal;
	opacity: 0.9;
}
.header-search .header-limiter nav ul li{
	display: inline-block;
}

.header-search .header-limiter nav a:hover {
	background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,.3)); 
	opacity: 1;
}

.header-search .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}
/*===================*/
.header-user-menu{
	position: relative;
	float:right;
	width:75px;
	height:40px;
	border-radius:2px;
}

.header-user-menu:before{
	content:'';
	width:0;
	height:0;
	top: 18px;
	left: 15px;
	position:absolute;
	border:5px solid transparent;
	border-top-color:#fff;
}

.header-user-menu ul{
	display: none;
	font:bold 13px Arial, Helvetica, sans-serif;
	background-color: inherit;
	list-style: none;
	position: absolute;
	text-align: center;
	width: 200px;
	top: 40px;
	right: 0;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	z-index:999;
}

.header-user-menu:active ul,
 .header-user-menu:hover ul,
 .header-user-menu.show ul{
	display:block;
	
}

 .header-user-menu ul li{
	padding:5px;
}
.header-user-menu ul :hover{
	background-color:#4e5d6c;
}

.header-user-menu ul li a:hover{
	opacity:0.9;
}

 .header-user-menu ul li a.highlight{
	color:#e9ac09;
}

.header-user-menu img{
	border-radius:50%;
	position:absolute;
	top:6px;
	max-width: 28px;
	right:10px;
}
#news_menu{
		width:100%;
		height:50px;
}
/*===================*/

/*NAVBAR END*/

/*======================SUBMENU===================================================*/
#sub-menu{
	margin-top: 200px;
}
/*======================================================*/
#slogan{
	background-color:transparent;
	padding:30px;
}
#slogan h1{
	text-align:center;
}
#slogan p{
	text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
}
#news_xyz{
	padding:30px;
}
#news_xyz h2{
	font-size:40px;
}


/*===========GALLERY==========*/
.gallery{
	background-color:#dee6ed;
	margin-top:-30px;
	width:100%;
	color:#121a21;
}
#jumbo_gal{
	background-color:transparent;
	text-align:center;
}
/*==========/GALLERY===========*/
/*GUNIJON KOHEN*/
#gunijon_kohen{
	background: url(../images/quote-bg.jpg) 50%  0 repeat fixed;
	-webkit-background-size: 100% 100%;
	width:100%;
	height:150px;
}

/*FOOTER*/
.footer_zis_style{
	font-size:120%;
}
.footer_icon{
	padding-left:35px ;
	padding-right:20px ;
}
.navbar_list{
	
	border:1px;
	border-left: solid;
	border-bottom-color:#CCC;

}
.header-limiter nav {
		
		margin-right: 10%;
}


/* Making responsive. */
@media all and (max-width: 1170px) {
	.header-limiter nav {
		
		margin-right: 20%;
}

@media all and (max-width: 952px) {
	.header-limiter nav {
		
		margin-right: 20%;
}
}
@media all and (max-width: 749px) {


	.header-search {
		background: black; 
		padding: 15px;
		width: 100%;
		height: 170px;
	}
	#search_form{
		height:50px;
		}
	#news_menu{
		width:100%;
		height:50px;
		}
	#site_logo{
		width:100%;
		height:50px;
		}
	

	.header-search .header-limiter h1 {
		float:none;
		font-size: 24px;
		line-height: 1;
		position: absolute;
	}

	.header-search .header-limiter nav {
		position: absolute;
		text-align: center;
		float: none;
		top:50px;
	}

	.header-search .header-limiter nav a {
		font-size: 13px;
	}
	.header-user-menu{
		position: absolute;
		margin-left:0;
		top:100px;
	}
	.header-search .header-limiter form {
		position: absolute;
		top:100px;
		
	}
	.header-user-menu ul{
	display: none;
	font:bold 13px Arial, Helvetica, sans-serif;
	background-color: inherit;
	list-style: none;
	position: absolute;
	text-align: center;
	width: 200px;
	top: 40px;
	left: 0;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}
	
}
